.event {
    list-style: none;
    border: solid 1px;
    border-top: none;
    /* margin-bottom: 10px; */

    transition-property: background-color;
    transition-duration: 1s;
    /* transition-delay: 2s; */
}
.event:nth-child(1) {
    border-top: solid 1px;
}
.event:hover {
    cursor: pointer;
    background-color: rgb(148, 148, 148);
}

.event p {
    text-decoration: underline;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 16px;
    margin: 0;
    font-size: 20px;
}
.event button {
    float: right;
    margin: 12px;
    padding: 4px 10px;
    font-size: 20px;
}