<header [style.background-image]="src(pageData.value.pageBannerSrc)" (click)="headerEdit($event)">

    <div class="top-banner">
        <p class="logo">Troop 370 Concord, CA - Editor</p>

        <button (click)="logout()">Log Out</button>

        <nav>
            <ul>
                <li><a class="link" routerLink="/editor/home" routerLinkActive="activeRoute">Home</a></li>
                <li><a class="link" routerLink="/editor/calendar" routerLinkActive="activeRoute">Calendar</a></li>
                <li><a class="link" routerLink="/editor/events" routerLinkActive="activeRoute">Events</a></li>
                
                <li><div class="dropdown link"> Scouts ˅ 
                    <div class="dropdownContent">
                        <a class="link" routerLink="/editor/for-new-scouts" routerLinkActive="activeRoute">For New Scouts</a>
                        <a class="link" routerLink="/editor/resourses" routerLinkActive="activeRoute">Scout Resourses</a>
                    </div>
                </div></li>

                <li><a class="link" routerLink="/editor/contact" routerLinkActive="activeRoute">Contact</a></li>
            </ul>

            <img src="../../../assets/hamburger_icon.png" alt="hamburger icon" class="hamburger_icon">
        </nav>
    </div>

    <h1 class="headerText" *ngIf="!editing">{{ pageData.value.pageTitle }}</h1>
    <input class="headerText" type="text" *ngIf="editing" [ngModel]="pageData.value.pageTitle" (ngModelChange)="headerTextChange($event)">
    <!-- (ngModelChange)="pageData.next($event)" -->
    <!-- (ngModelChange)="console.log($event)" -->

    <p (click)="chooseImage(pageData.value.pageBannerSrc)" *ngIf="editing" class="chooseImgText">Click to Choose Image</p>

</header>


<app-manage-images [imageObservable]="imageObservable"></app-manage-images>