<header [style.background-image]="src(pageBannerSrc.value)" (click)="headerEdit($event)">

    <div class="top-banner">
        <p class="logo">Troop 370 Concord, CA - Editor</p>

        <button (click)="logout()">Log Out</button>

        <nav>
            <ul>
                <li><a routerLink="/editor/home" routerLinkActive="activeRoute">Home</a></li>
                <li><a routerLink="#" routerLinkActive="activeRoute">Calender</a></li>
                <li><a routerLink="#" routerLinkActive="activeRoute">Events</a></li>
                <li><a routerLink="#" routerLinkActive="activeRoute">For New Scouts</a></li>
                <li><a routerLink="#" routerLinkActive="activeRoute">Contact</a></li>
            </ul>

            <img src="../../../assets/hamburger_icon.png" alt="hamburger icon" class="hamburger_icon">
        </nav>
    </div>

    <h1 class="headerText" *ngIf="!editing">{{ pageTitle.value }}</h1>
    <input class="headerText" type="text" *ngIf="editing" [ngModel]="pageTitle.value" (ngModelChange)="pageTitle.next($event)">

    <p (click)="chooseImage(pageBannerSrc.value)" *ngIf="editing" class="chooseImgText">Click to Choose Image</p>

</header>


<app-manage-images [imageObservable]="imageObservable"></app-manage-images>