<header [style.background-image]="src(pageBannerSrc)">

    <div class="top-banner">
        <p class="logo">Troop 370 Concord, CA</p>

        <nav>
            <ul>
                <li><a routerLink="/home" routerLinkActive="activeRoute">Home</a></li>
                <li><a routerLink="#" routerLinkActive="activeRoute">Calender</a></li>
                <li><a routerLink="#" routerLinkActive="activeRoute">Events</a></li>
                <li><a routerLink="#" routerLinkActive="activeRoute">For New Scouts</a></li>
                <li><a routerLink="#" routerLinkActive="activeRoute">Contact</a></li>
            </ul>

            <img src="../../../assets/hamburger_icon.png" alt="hamburger icon" class="hamburger_icon">
        </nav>
    </div>

    <div class="headerPhoto">
        <h1>{{ pageTitle }}</h1>
    </div>

</header>