section {
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    /* border-bottom: solid 2px gray; */
}

h1 {
    text-align: center;
}

.contentContainer {
    display: grid;
    grid-gap: 1vw;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(10, 8.58vw);
}

.imgContent {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}


.textContent {
    padding: 20px;
    height: 100%;
}
.textContent h2 {
    text-align: center;
    margin-top: 5px;
}


.googleMapsContent {
    width: 100%;
    height: 100%;
    position: relative;
}
.googleMapsContent iframe {
    width: 100%;
    height: 100%;
}


.googleCalendarContent {
    width: 100%;
    height: 100%;
    position: relative;
}
.googleCalendarContent iframe {
    width: 100%;
    height: 100%;
}


.content {
    position: relative;
    background-color: white;
}

iframe {
    width: 600px;
    height: 600px;
}