<div class="background" *ngIf="browsing">
    <div class="panel">
        <div class="panelUpper">
            <div class="imgGallery">
                <div class="img" *ngFor="let img of imgs" (click)="selectUrl(img.url)" [style.background-image]="src(img.url)" [style.border-color]="calculateBorder(img.url)">
                    <button (click)="deleteImg(img.imgRef)"><img src="../../../assets/delete-icon.png"></button>
                </div>
            </div>
            <div class="inputDiv">
                <label for="imageUpload">Upload New Image:</label>
                <input type="file" (change)="uploadFile($event)" id="imageUpload">
                <br> <progress id="file" [value]="uploadValue" max="100" *ngIf="uploading"></progress>
            </div>
        </div>

        <div class="panelLower">
            <button (click)="submit()">Select</button>
        </div>
    </div>
</div>